name: "Housekeeper"

on:
  push:
    branches:
      - "main"
  schedule:
    # Run every monday at 12 pm
    - cron: "0 12 * * 1"

jobs:
  initialise_repo:
    name: "Initialiser"
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: "Is there a tag already?"
        id: tag_checker
        run: |
          if [[ -z "$(git describe --abbrev=0 --tags 2>/dev/null || true)" ]]; then
            echo "::set-output name=there_is_a_tag::false"
          else
            echo "::set-output name=there_is_a_tag::true"
          fi
      - run: |
          echo ${{ steps.tag_checker.outputs.there_is_a_tag }}
          [ "${{ steps.tag_checker.outputs.there_is_a_tag }}" == 'false' ] && echo "no tag" || echo issue
          [ "${{ steps.tag_checker.outputs.there_is_a_tag }}" == false ] && echo "no tag" || echo issue
      - name: "Create init tag for the Releaser"
        if: steps.tag_checker.outputs.there_is_a_tag == 'false'
        uses: rickstaa/action-create-tag@v1.2.0
        with:
          tag: "0.0.1"
          message: "initialise semantic versioning"
      - name: "Apply Labels"
        uses: crazy-max/ghaction-github-labeler@v3.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
  cleanup_branches:
    name: "Branch Cleaner"
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: "Manage Stale Branches"
        id: branch_cleaner
        uses: crazy-matt/manage-stale-branches@1.0.0
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          stale_older_than: 60
          suggestions_older_than: 30
          dry_run: true
          excluded_branches: |
            origin/main
            origin/master
      - name: "Trigger the Notifier"
        if: github.event_name == 'schedule' && steps.branch_cleaner.outputs.message != ''
        uses: peter-evans/repository-dispatch@v1.1.3
        with:
          token: ${{ secrets.CI_GH_PAT_REPO_DISPATCH_API_AUTH }}
          event-type: slack-notification
          client-payload: '{ "type": "housekeeping", "ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "color": "#2EB67D", "title": "${{ github.repository }} Housekeeping", "message": "${{ steps.branch_cleaner.outputs.message }}" }'
