name: "Housekeeper"

on:
  schedule:
    # Run every monday at 12 pm
    - cron: "0 12 * * 1"

jobs:
  cleanup_branches:
    name: "Branch Cleaner"
    runs-on: ubuntu-latest
    steps:
      - name: "Manage Stale Branches"
        id: branch_cleaner
        uses: crazy-matt/manage-stale-branches@main
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          stale_older_than: 1
          suggestions_older_than: 0
          dry_run: true
          excluded_branches: |
            origin/main
            origin/master
      - name: "Trigger the Notifier"
        if: success() && steps.branch_cleaner.outputs.branches_to_review != ''
        uses: peter-evans/repository-dispatch@v1.1.3
        with:
          token: ${{ secrets.CI_GH_PAT_REPO_DISPATCH_API_AUTH }}
          event-type: slack-notification
          client-payload: '{ "type": "housekeeping", "ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "color": "#2EB67D", "title": "${{ github.repository }} Housekeeping", "message": "${{ steps.branch_cleaner.outputs.message }}" }'
