name: "CI"

on:
  pull_request:
    types: [opened, synchronize, reopened, review_requested, ready_for_review]
  pull_request_review:
    types: [submitted]

jobs:
  pr_labeler:
    name: "PR Labeler"
    if: |
      github.event_name == 'pull_request' &&
      (github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened')
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5.15.0
        with:
          config-name: releaser_config.yml
          disable-autolabeler: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  pr_reviewer:
    name: "PR Reviewer"
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'pull_request_review' &&
      github.event.action == 'submitted' &&
      github.event.review.state == 'approved'
    steps:
      - name: "Label when approved by commiters"
        uses: TobKed/label-when-approved-action@v1.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          label: "approved"
          require_committers_approval: "true"
          remove_label_when_approval_missing: "true"
  update_documentation:
    name: "Doc Updater"
    if: |
      (github.event_name == 'pull_request' && github.event.action == 'opened') ||
      (github.event_name == 'pull_request' && github.event.action == 'review_requested') ||
      (github.event_name == 'pull_request' && github.event.action == 'ready_for_review')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.head_ref }}
      - name: "Update Action documentation"
        id: actions-docs
        uses: npalm/action-docs-action@v1.1.0
      - name: "Check if there are changes"
        id: changes
        uses: UnicornGlobal/has-changes-action@v1.0.12
      - name: "Commit-back changes"
        if: steps.changes.outputs.changed == 1
        uses: swinton/commit@v2.0.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            README.md
          commit-message: "update README"
          ref: ${{ github.head_ref }}
